body {
    font-family: sans-serif;
    background-color: black;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    width: 180vh;
}
form {
    margin: 200;
    background-color: rgb(39, 39, 39);
    border: 10px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    width: 680px;
    height: 600px;
    text-align: center;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: red;
}
label {
    font-weight: bold;
    color:white;
}
input[type="text"],
input[type="passworld0"] {
    width: 90%;
    padding: 8px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
img {
    justify-content: left;
    width: 200vh;
}